<fieldset class="fieldset">
  <legend class="fieldset-legend">{{ label }}</legend>
  <input
    [type]="type"
    class="input w-full"
    [formControl]="control"
    [placeholder]="placeholder"
  />

  @if (control?.invalid && (control?.dirty || control?.touched)) {
    <div class="text-red-500 text-sm mt-1">
      @if (control?.errors?.['required']) {
        <div>{{ label }} is required.</div>
      }
      @if (control?.errors?.['email']) {
        <div>Invalid email format.</div>
      }
      @if (control?.errors?.['min']) {
        <div>Amount must be greater than {{control?.errors?.['min'].min}}.</div>
      }
      @if (control?.errors?.['minlength']) {
        <div>Minimum length is {{ control.errors?.['minlength'].requiredLength }} characters.</div>
      }
    </div>
  }
</fieldset>
