<div class="grid w-full h-screen grid-cols-2">
  <img src="https://images.pexels.com/photos/210990/pexels-photo-210990.jpeg" alt="cover"
       class="w-cover h-full object-cover"/>
  <div class="flex flex-col justify-center items-center p-10">
    <p class="text-center mb-10 flex items-center">
      <a routerLink="/" class="text-4xl font-bold text-amber-900">AccounTax</a>
      <img src="logo-accountax.png" alt="logo" class="inline-block w-16 h-16 ml-2"/>
    </p>
    <div class="border border-gray-400 p-10 rounded-lg  w-full max-w-md">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
