<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h1 class="text-center h1 font-bold">Login to Your Account</h1>
  <p class="text-center text-gray-500">
    Please enter your email and password to log in.
  </p>

  <form-field
    [control]="emailControl"
    label="Email"
    placeholder="Enter Email"
    type="email"
  ></form-field>

  <form-field
    [control]="passwordControl"
    label="Password"
    placeholder="Enter Password"
    type="password"
  ></form-field>
  @if (supabaseError) {
    <div class="bg-red-100 text-red-700 p-3 rounded mb-4 border border-red-300">
      {{ supabaseError }}
    </div>
  }

  <button
    class="btn btn-block btn-primary mt-3"
    type="submit"
    [disabled]="loading"
  >
    @if (loading) {
      <span class="animate-pulse">Logging in...</span>
    } @else {
      Login
    }

  </button>
  <div class="mt-4 text-center">
    <a routerLink="/auth/register" class="text-amber-900 hover:cursor-pointer"
    >Don't have an account? Register</a>
  </div>
</form>
