<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        @for(item of visibleItems; track item.path){
          <li><a [routerLink]="item.path">{{item.label}}</a></li>
        }
      </ul>
    </div>
    <a class="btn btn-ghost text-xl text-amber-900">
      AccounTax
      <img src="logo-accountax.png" alt="logo" class="h-10"/>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @for(item of visibleItems; track item.path){
        <li *ngIf="!item.isAuth"><a [routerLink]="item.path">{{item.label}}</a></li>
      }
    </ul>
  </div>
  <div class="navbar-end  dropdown-end">
    <div *ngIf="session.user$ | async as user; else guest" class="flex items-center">
      <div class="dropdown">
        <img src="/avatar-icon.png" alt="Avatar" tabindex="0" role="button" class="w-8 h-8 border border-gray-400 rounded-full mr-3">
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li><a>Profile</a></li>
          <li><a (click)="session.logout()">Logout</a></li>
        </ul>
      </div>
<!--      <a class="btn" (click)="session.logout()">Logout</a>-->
    </div>
    <ng-template #guest>
      @for(item of visibleItems; track item.path){
        <div class="mx-3">
          <a *ngIf="item.isAuth" [routerLink]="item.path">{{item.label}}</a>
        </div>
      }
    </ng-template>
  </div>
</div>
