@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default;

  base: false;
  utils: true;
  logs: false;
  rtl: false;
  prefix: "";


}
@layer base {
  * {
    font-family: 'Sora', sans-serif;
  }
}
